@page
@model Pizzeria.Pages.Checkout.ThanksModel
@{
}

<div class="text-center">
    <h2 class="display-4">Thank you for ordering with us at pizzeria.</h2>
    <h2 class="display-4"> Your  @Model.PizzaName pizza will arrive soon....</p>
</div>
